.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #27737d;
  padding: 2rem;
  position: relative;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.notFound h1 {
  font-size: 3rem;
  color: #d0dfe2;
}

.notFound p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.homeLink {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #27737d;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.homeLink:hover {
  background-color: #a8c6cb;
  color: #ffffff;
  transform: scale(1.1);
}
.notFound img {
  width: 10rem;
  height: auto;
}
